@tailwind base;
@tailwind components;
@tailwind utilities;

.clipped {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

.values-carousel {
  max-width: 70rem;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 30px;
  --slide-spacing: 1rem;
}
.values-carousel .embla__viewport {
  overflow: hidden;
}
.values-carousel .embla__container {
  display: flex;
  margin-left: calc(var(--slide-spacing) * -1) + 10px;
}
.values-carousel .embla__slide {
  flex: 0 0 100%;
  padding-left: var(--slide-spacing);
}
@media (min-width: 1024px) {
  .values-carousel .embla__slide {
    flex: 0 0 calc(100% / 3);
  }
}

.progress-indicators {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.progress-rectangle {
  width: 2rem;
  height: 0.5rem;
  background-color: #d1d5db;
  margin: 0 0.5rem;
  transition: background-color 0.3s ease-in-out;
}

.progress-rectangle.bg-green-500 {
  background-color: #10b981;
}
